$border:black;
$white:#FFFFFF;
$anchor_colors:blue;
$box_login_shadow:#333333;
$border_Frgt:#c0c0c0;
$blueViolet:blueviolet;
$light_blue:#3B5998;
$black:black;
$dull_white:#fff;
$Grey:grey;
$box_shadow:#ccc;
$default_shadow:#e0dede;
$white: #FFFFFFFF;
$grey_shadow : #9c9c9c;
$blue : #1f52f9;
$black: #333;
$light_grey : #555;
$light_red : rgb(219, 205, 205);