@import 'colors.scss';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

button {
color: #6F6F6F;
background-color: transparent;
border:none;
padding-right: 10px;
font-size: 20px;
}




.img-keep{
    width: 30px; 
    height: 30px;
}

button:hover {
cursor: pointer;
color: initial;
}

.flex-container{
display: flex;
align-items: center;
margin-top: -50px;
margin-bottom: -40px;
}

/* header */
header {
grid-area: h;
padding: 10px;
border-bottom: 1px solid #DADCE0;
}

header .options{
flex-grow:1;
justify-content: flex-end;
margin-left: 15px;
}

.navbar-button:hover{
background-color: #F0F0F0;
border-radius: 50%;
}

.icons-header:hover {
color: initial;
background-color: #ddd7d7;
border-radius: 50%;
}

h1.title{
font-family: 'Roboto';
opacity: .54;
font-size: 20px;
padding-left: 8px;
}

.text-search {
display: block;
cursor: pointer;
border: none;
outline: none;
}

#blur.active{
	filter: blur(5px);
//     background-position: 120px;
//      top: 500px;
//   left: 50%;
}



.view_list{
display: none;
}

.logo-names{
    margin-top: -180px;
    margin-left: 60px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.logo-name-one{
    padding-bottom: 15px;
    margin-left: -30px;
}
.logo-name-two{
    padding-bottom: 17px;
    margin-left: 5px;
}
.logo-name-three{
    padding-bottom: 18px;
    margin-left: 10px;
    
}
.logo-name-four{
    padding-bottom: 18px;
    margin-left: -12px;
}
.logo-name-five{
    padding-bottom: 18px;
    margin-left: -30px;
}

// /* aside */
aside {
grid-area: a;
display: none;
margin-top: 50px;
margin-left: -10px;
position: fixed;

}


a {
padding-left: 22px;
text-decoration:none;
color: #0b0b0c; 
font-family: 'Roboto';
}

li {
display: flex;
align-items: center;
cursor: pointer;
border-radius: 0 25px 25px 0;
min-height: 30px;
padding-bottom: 4px;
padding-top: 4px;
padding-left: 24px;
}

// li.active {
// background-color:#FEEFC3;
// }

// li.active:hover {
// background-color:none;
// }

// li:hover{
// background-color:#e2cf9c; 
// width: 27px;
// transition: 0.5s;
// }

span{
    cursor: pointer;
}

#blur.active{
    filter:blur(5px);
}

#popup{
    position: fixed;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#popup.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    margin-top: 120px;
}

@media (min-width: 600px) {

body {
grid-template-columns: 280px 1fr;
grid-template-areas: 
    "h h"
    "a m";
}

.search {
display: flex;
align-items: center;
width: 120px;
margin-left: 10px;
margin-right: 40px;
flex-grow: 1;
border-radius: 10px;
background-color:white;
border: 1px solid black;
height: 32px;
}

/* header */
.text-search {
display: block;
cursor: pointer;
border: none;
outline: none;
}

.text-search::placeholder {
color: #919faa;
font-family: 'Roboto';
}

/* aside */
aside {
display: block;
margin-left: -30px;
}
}
