html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

button {
color: #6F6F6F;
background-color: transparent;
border:none;
width: 48px;
height: 48px;
}

button:hover {
cursor: pointer;
color: initial;
}

.flex-container{
display: flex;
align-items: center;
margin-top: -50px;
margin-bottom: -40px;
}

p {
letter-spacing: .00625em;
font-weight: 500;
line-height: 1rem;
font-family: 'Roboto';
color: #202124;
padding-left: 10px;
font-size: 0.9rem;
}

.insert-text>p{
color: #80868b;
}

/* header */
header {
grid-area: h;
padding: 10px;
border-bottom: 1px solid #DADCE0;
}

header .options{
flex-grow:1;
justify-content: flex-end;
margin-left: 15px;
}

.navbar-button:hover{
background-color: #F0F0F0;
border-radius: 50%;
}



.icons-header:hover {
color: initial;
background-color: #F0F0F0;
border-radius: 50%;
}

h1.title{
font-family: 'Roboto';
opacity: .54;
font-size: 22px;
padding-left: 8px;
}

.text-search {
display: none;
}

.view_list{
display: none;
}


/* aside */
aside {
grid-area: a;
display: none;
margin-top: 40px;
}

aside .nav-sections {
padding-bottom: 10px;
border-bottom: 1px solid #DADCE0;
}

a {
padding-left: 22px;
text-decoration:none;
color: #202124; 
font-family: 'Roboto';
}

li {
display: flex;
align-items: center;
cursor: pointer;
border-radius: 0 25px 25px 0;
min-height: 40px;
padding-bottom: 4px;
padding-top: 4px;
padding-left: 24px;
}

li.active {
background-color:#FEEFC3;
}

li.active:hover {
background-color:none;
}

li:not(.active):hover {
background-color:#F5F5F5; 
}

li>i {
color: #6F6F6F;
}


@media (min-width: 600px) {

body {
grid-template-columns: 280px 1fr;
grid-template-areas: 
    "h h"
    "a m";
}

.search {
display: flex;
align-items: center;
flex-grow: 1;
border-radius: 10px;
background-color:white;
border: 1px solid black;
height: 32px;
}

/* header */
.text-search {
display: block;
border: none;
outline: none;
}

.text-search::placeholder {
color: #919faa;
font-family: 'Roboto';
}

/* aside */
aside {
display: block;
}
}
