@import "colors";

.icons{
    display:inline-flex;
}

.first-icon{
    opacity: .54;
    margin-left: -260px;
    padding-right: 15px;
}
.second-icon{
    opacity: .54;
    padding-right: 15px;
}
.third-icon{
    opacity: .54;
    padding-right: 15px;
}
.fourth-icon{
    opacity: .54;
    padding-right: 15px;
}
.fifth-icon{
    opacity: .54;
    padding-right: 15px;
}
.sixth-icon{
    opacity: .54;
    padding-right: 15px;
}
