@import "colors.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: -80vh;
  justify-content: center;
  align-items: center;
  background: $white;
}

.container {
  height: 800px;
  width: 1100px;
  background: $white;
  padding: 35px 30px;
  border-radius: 8px;
  border: 1px solid $grey_shadow;
}

.container .title h2 {
  font-size: 45px;
  font-weight: 500;
  padding-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container .title h3 {
  font-size: 45px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  color: $black;
  display: flex;
}

.user-details {
  display: flex;
  flex-wrap: wrap;
}

.input-box {
  width: calc(100% / 3 - 10px);
  margin-top: 40px;
  margin-right: 20px;
}

.input-box-password {
  width: calc(100% / 3 - 10px);
  margin-top: 40px;
  margin-right: 20px;
}

.input-box input {
  display: flex;
  justify-content: center;
  height: 52px;
  width: 340px;
  border-radius: 6px;
  border-width: 1px;
  border-color: rgba(72, 78, 78, 0.431);
  margin-left: 1px;
  outline: none;
  position: relative;
  font-size: 25px;
  padding-left: 8px;
}

.input-box-password input {
  display: flex;
  justify-content: center;
  height: 52px;
  width: 340px;
  border-radius: 6px;
  border-width: 1px;
  border-color: rgba(72, 78, 78, 0.431);
  margin-left: 1px;
  outline: none;
  position: relative;
  padding-left: 10px;
  font-size: 25px;
}

.input-box-email {
  height: 60px;
  border-radius: 5px;
  border-width: 0.1px;
  border-color: rgb(209, 193, 193);
}

.input-box-email input {
  display: flex;
  justify-content: center;
  height: 52px;
  width: 695px;
  border-radius: 5px;
  border-width: 0.1px;
  border-color: rgb(209, 193, 193);
  margin-left: 2px;
  outline: none;
  position: relative;
  font-size: 25px;
  padding-left: 8px;
  margin-top: 15px;
}

.user-details .a-email {
  top: 25px;
  left: -160px;
}

.user-details .a-tag-1 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 30px;
  margin-left: -290px;
  width: 100%;
}

.user-details .a-tag-2 {
  font-size: 25px;
  font-weight: 530;
  margin-top: 20px;
  margin-left: -300px;
  width: 100%;
  color: $blue;
  text-decoration: none;
}

.user-details .a-tag-3 {
  font-size: 20px;
  font-weight: 400;
  margin-left: -220px;
  width: 100%;
}

.user-details .a-tag-4 {
  font-size: 26px;
  font-weight: 450;
  margin-top: 70px;
  margin-left: -430px;
  width: 100%;
  color: $blue;
  text-decoration: none;
}

.user-details .Next-btn {
  font-size: 25px;
  background: $blue;
}

input[type="submit"] {
  background: $blue;
  color: $white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 70px 0 30px -10px;
  font-size: 28px;
}

input[type="submit"]:hover {
  background: $blue;
}

.iconeye .hide-eye {
  display: block;
  position: relative;
  top: 50px;
  right: 56px;
  width: 37px;
  cursor: pointer;
}

.show-eye {
  display: none;
  position: relative;
  top: 50px;
  right: 60px;
  width: 37px;
  cursor: pointer;
}

.google-side-image {
  display: flex;
  justify-content: flex-end;
  display: inline-block;
  position: relative;
  top: -710px;
  left: 190px;
  transform: translate(50%, 50%);
}

.side-logo {
  width: 310px;
  height: 320px;
}

.user-details label {
  position: relative;
  font-family: roboto;
  color: $light_grey;
  font-size: 30px;
  pointer-events: none;
  top: -45px;
  left: 7px;
  transition: 0.2s all;
}

.input-box label {
  position: relative;
  font-family: roboto;
  color: $light_grey;
  font-size: 28px;
  pointer-events: none;
  left: -100px;
  top: -41px;
  transition: 0.2s all;
}

.input-box-email label {
  position: relative;
  font-family: roboto;
  color: $light_grey;
  font-size: 28px;
  pointer-events: none;
  left: -285px;
  top: -43px;
  transition: 0.2s all;
}

.input-box :focus ~ label,
.input-box :valid ~ label {
  position: relative;
  top: -69px;
  left: -95px;
  background: $white;
  padding: 0 5px;
  font-size: 25px;
  color: $blue;
}

.input-box-email :focus ~ label,
.input-box-email :valid ~ label {
  top: -69px;
  left: -280px;
  background: $white;
  padding: 0 5px;
  font-size: 25px;
  color: $blue;
}

.input-box-password label {
  position: relative;
  font-family: roboto;
  color: $light_grey;
  font-size: 28px;
  pointer-events: none;
  left: -105px;
  top: -41px;
  transition: 0.2s all;
}

.input-box-password :focus ~ label,
.input-box-password :valid ~ label {
  top: -68px;
  left: -105px;
  background: $white;
  padding: 0 5px;
  font-size: 25px;
  color: $blue;
}
