@import "colors.scss";
body {
  margin: 0;
  padding: 0;
  background: $white;
}
.main{
    width:100%;
    position:absolute;
}
form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #d5d2d2;
  border-radius: 10px;
  width: 750px;
  padding: 25px;
  background: $white;
}

h3{
    position: relative;
    margin: -20px 0 0 13px;
    font-size: 23px;
    font-family: jost;
    letter-spacing: 1px;
}

.head {
  padding-left: 20px;
}

input {
  outline: none;
  border: 1px solid $grey_shadow;
  border-radius: 5px;
  padding: 0 10px;
  height: 35px;
  font-size: 15px;
}

input:focus {
  border: 1.5px solid $blue;
}
.name {
  display: inline-block;
}
.user-name{
    display: inline-block;
}

input[type="name"] {
  display: block;
  margin: 30px 0 0 10px;
}

input[type="username"] {
  display: block;
  margin: 10px 0px 0px 10px;
  width: 390px;
}

.gmail {
  position: relative;
  display: block;
  top: -45px;
  left: 165px;
  font-family: roboto;
  color: $black;
  font-size: 15px;
  cursor: default;
}
.pass {
  display: inline-block;
}
.password {
  display: block;
  width: 140px;
  margin: 0 5px 0 10px;
}
label {
  position: relative;
  font-family: roboto;
  color: $light_grey;
  font-size: 15px;
  pointer-events: none;
  top: -28px;
  right: 60px;
  transition: 0.2s all;
}
input:focus ~ label,
input:valid ~ label {
  top: -49px;
  right:50px;
  background: $white;
  padding: 0 5px;
  font-size: 10px;
  color: $blue;
}
a {
  position: relative;
  font-family: roboto;
  text-decoration: none;
  display: block;
}
.line1 {
  font-size: 12px;
  margin: -30px 0 0px 15px;
}
.line2 {
  color: $blue;
  font-size: 15px;
  margin: 20px 0 20px 15px;
}
.line3 {
  font-size: 12px;
  margin: -10px 18px 0 15px;
  width: 310px;
}
.line4 {
  font-size: 15px;
  margin: 20px 8px;
  color: $blue;
  display: inline-block;
  font-family: arial rounded mt;
}

input[type="submit"] {
  background: $blue;
  color: $white;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 40px 0 30px 180px;
  font-size: 15px;
}
input[type="submit"]:hover {
  background: $blue;
}
.iconeye {
  display: inline-block;
}
#eye {
  display: block;
  position: relative;
  top: -18px;
  width: 27px;
  cursor: pointer;
}


