@import "colors";

.container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background: $white;
  border: 1px solid $light_red;
  border-radius: 13px;
}

.container h3 {
  text-align: center;
  color: $blue;
}

input{
    margin-top: 12px;
    width: 300px;
    height: 32px;
    border: none;
    border: 1px solid $light_red;
    outline: none;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 15px;
}

.update-button{
    margin-top: 10px;
    margin-bottom: 12px;
    background-color: $blue;
    border:none;
    border: 1px solid $blue;
    color: $white;
    font-size: 16px;
    font-weight: 600;
    width: 100px;
    height: 30px;
}