.span-1 {
	color: blue;
	letter-spacing: 2px;
	font-family: 'Times New Roman';
	font-weight: 600;
}
.span-2 {
	color: red;
}
.span-3 {
	color:darkorange;
}
.span-4 {
	color: blue;
}
.span-5 {
	color: green;
}
.span-6 {
	color: red;
}
.span-7 {
	color: blue;
}
.span-8 {
	color:  orange;
}
.span-9 {
	color: red;
}
.span-10 {
	color: green;
}
.span-11 {
	color: red;
}